@charset "utf-8";

.gnb{
    opacity: 0;
    transition: 0.5s;
    position: fixed;
    z-index: 4;
    top: 10%;
    line-height: 90px;
}
.gnb div{
    width: 2px;
    height: 280px;
    background: rgb(168, 168, 168);
    position: absolute;
    left: 148px; top: 80px;
}
.gnb li{
    display: flex;
    position: relative;
}
.gnb>li>.circle{
    width: 20px;height: 20px;
    border-radius: 50%;
    background: mediumspringgreen;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 80px; left: 140px;
}
.gnb li>a{
    position: relative;
    top: 45px;left: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
