@charset "utf-8";


body{position: relative;}
/*loading 서식*/
.loading{
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
    
}
.typing-txt{
    display: none;
  }
  
  .typing {  
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.3s; 
    animation-iteration-count: infinite;
    color: #fff; 
    font-size: 13px;

   } 
   @keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
  }
.icecream{
    width: 300px;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    mix-blend-mode:difference;
    }
.icecream2{
    width: 300px;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    /* display:none; */
    }
.wave {
    opacity: .8;
    position: absolute;
    bottom: 50%;
    left: 55%;
    background: #ff6464;
    width: 150px;
    height: 180px;
    margin-left: -150px;
    margin-bottom: -301px;
    border-radius: 43%;
    z-index: 1;
    transition-duration: 2s;
    transition-property: margin-top;
    transition-timing-function: ease;
    animation: rotate 2000ms infinite linear;
    }

@keyframes rotate {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
    from{bottom : 59%}
    to{bottom: 74%;}
    }

/*무한슬라이드*/
.l_slide{
    width:100%;
    overflow: hidden;
}
.l_slide img{
    width: 100%;
    height:500px;
    position: absolute;

}
.l_slide .mint{
z-index:6;
bottom:-280px;}
.l_slide .beige{
z-index:1;
bottom: -320px;
}

.l_slide .sl_txt{
    z-index: 8;
    top: 85%;
    height: 137px;
    width: 850px;
    right: 95%;
    transform: rotate(3deg);
    animation:sl_txt 8s linear infinite;
}
@keyframes sl_txt{
    0%{
        right: -70%;
        top: 70%;
    }
    100%{
        right: 95%;
        top: 93%;
    }

}
/*자기소개*/

.intro{
width: 100%;
height: 120vh;
background:pink;
position: relative;
}

.intro h2{
    display: block;
    font-size: 200px;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    text-shadow: 2px 0 #333,-2px 0 #333, 0 2px #333,0 -2px #333;
    color: pink;
}
.intro .key{
    width: 1200px;
    position: absolute;
    top: 65%;left: 50%;
    transform: translate(-50%,-50%);
}
.intro .key img{
    width: 100%;
}
.intro .key img:first-child{}
.intro .key img:nth-child(2){}
.intro .key img:nth-child(3){}
.intro .key img:nth-child(4){}
.intro .key img:last-child{}

.intro .line>div{
    background: #fff;
    position: relative;
    width: 100%;height: 4px;
}
.intro .line div:first-child{
    top: 800px;
}
.intro .line div:nth-child(2){
    top: 914px;
}
.intro .line div:last-child{
    top: 1032px;
}

.intro .txt img{
    width: 120px;height: 120px;
    position: absolute;
}
.intro .txt img:first-child{
    top: 780px;
    left: 272px;
}
.intro .txt img:nth-child(2){
    top: 917px;
    left: 1082px;
    width: 100px;height: 100px;
}
.intro .txt img:last-of-type{
    top: 997px;
    left: 1014px;
    width: 200px;height: 200px;
    z-index: 2;
}

.intro .txt p{
    font-size: 45px;
    position: absolute;
    color: #fff;
}
.intro .txt p:first-of-type{
    top: 839px;
    left: 400px;
}
.intro .txt p:nth-of-type(2){
    top: 962px;
    left: 500px;
}
.intro .txt p:nth-of-type(3){
    top: 1074px;
    left: 600px;
}
.intro .txt p:last-of-type{
    top:1074px;
    left: 1200px;
}
/*소개서식*/
.introduce{
    width: 100%;height: 100vh;
    position: relative;
}
.intro_wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;box-sizing: border-box;
    overflow: hidden;
}
.intro_wrap h2{
    font-size:70px;
    padding-top: 80px;
}
.intro_wrap p{
    position: absolute;
    top: -350px;right: -200px;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-size: 180px;
    font-weight: 800;
    transform: rotate(-270deg);
    color: #e6e4e4;
    animation: intro 10s linear infinite;
}
@keyframes intro{
    0%{
        top: -50%;

    }
    100%{
        top: 100%;
    }
}
.intro_wrap .kakao_wrap{
    width: 500px;
    position: absolute;
    left: 70px;
    top: 230px;
}
.intro_wrap .kakao_wrap>img{
    width: 100%;
}
.intro_wrap .kakao_wrap .kakao{
    width: 441px;
    position: absolute;
    top: 133px;
    left: 27px;
    animation: kakao 15s linear infinite;
}
.intro_wrap .kakao_wrap .kakao>img{
    width: 100%;

}
@keyframes kakao{
    0%{
        top: 65%;

    }
    100%{
        top: 2%;
    }
}     


/*키워드 서식*/
.keyword{
    width: 100%;height: 50vh;
    background: #D9D9D9;
}
.keyword_wrap{
    height: 100%;
}
.keyword_wrap h2{
    display: none;
}
.keyword .parallax {
    background-image: url("../images/keyword.png");
    background-size:100% 50vh;
    min-height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    }

    /*퍼블리싱서식*/
    .publising{
        width: 100%;height: 100vh;
        background: rgb(192, 255, 224);
    }
    .publising .pub_wrap{
        width: 1400px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    .publising .pub_wrap h2{
        font-size: 100px;
        text-transform: uppercase;
        padding-top: 140px;
    }
    .publising .pub_wrap ul{
        position: absolute;
        top: 40%;left: 13%;
        display: flex;
        justify-content: space-between;
    }
    .publising .pub_wrap ul li{
        width: 120px;height: 500px;
        background: #ccc;
        margin-right: 20px;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
    }
    .publising .pub_wrap ul .first{
        width: 500px;
        top: -50px;
        position: relative;
        
    }
    .publising .pub_wrap ul .first div{
        padding: 20px;
        position: absolute;
        bottom: 100px;
        font-size: 16px;
        line-height: 30px;
        color: #fff;
    }
    .publising .pub_wrap ul .first div h3{
        font-size: 30px;
        padding-bottom: 20px;
    }
    .publising .pub_wrap ul .first div p{
        padding-top: 30px;
        font-size: 20px;
    }
    .publising .pub_wrap ul .first div button{
        width: 200px;height: 50px;
        border-radius: 50px;
        margin-right: 20px;
        background: #0B2F50;
        color: #fff;
        margin-top: 70px;
        font-size: 20px;
    }
    .publising .pub_wrap ul li img{
        width: 100%;height: 100%;
        border-radius: 20px;
    }
    .publising .pub_wrap .fir h3{
        color: red;
    }
    .publising .pub_wrap .sec h3{
        color: purple;
    }
    .publising .pub_wrap .third h3{
        color: orange;
    }
    /*디자인 공통서식*/
    .design{
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .design h2{
        font-size: 80px;
        text-transform: uppercase;
        position:absolute;
        top: 50%;left: 50%;
        transform: translate(-50%,-50%);
    }
    .design article p{
        font-size: 200px;
        position: absolute;
        top: 400px;

        text-transform: uppercase;
        color: rgba(0,0,0,0.1);
        font-weight: 700;
        z-index: -1;
        animation: circle 10s linear infinite;
    }
    @keyframes circle{
        0%{
            right: -30%;

        }
        100%{
            right: 95%;
        }
    }
    .box{
        width:1200px;height: 100vh;
        margin: 0 auto;
        position:relative;
      }
      /* .box .circle img{
        border:5px dashed #f00;
        width:700px;height:700px;
        border-radius:50%;
        position:absolute;
        left:235px;top:121px;
        animation: ani 10s linear infinite;
      } */
      .box .circle img{
        animation:ani01 30s linear infinite;
        transform-origin: 50% 50%; 
        position: absolute;
        top: -150px;left: -50px;
        width: 1300px;height: 1300px;
      }
      .icon_box{
        width:600px;height:600px;
        position:absolute;
        left: 300px;top: 165px;
        transform: rotate(-45deg);
        /* animation:ani01 20s linear infinite; */
      }
      .icon1, .icon2, .icon3, .icon4, .icon5{
        position:absolute;
        width:200px;height:200px;
        border-radius:50%;
        text-align:center;
        line-height:60px;
        transform: rotate(45deg);
      }
      .icon1{background:rgb(245, 153, 78);left:36px;top:-56px;}
      .icon2{background:rgb(48, 167, 44);right:-25px;top:-25px;}
      .icon3{background:rgb(60, 182, 230);left:121px;bottom:-162px;}
      .icon4{background:rgb(231, 96, 148);right:-56px;bottom:32px;}
      .icon5{background:yellow;right:564px;bottom:124px;}
      .icon_box>div>img{
          width: 80%;
          position: absolute;

      }
      .icon_box>div:hover{
        background: rgba(0,0,0,0.5);          
        overflow: hidden;
      }
      .icon_box>div:hover img{
        scale: 1.2;
        transition: 0.3s;
      }
      .icon_box .icon1 img{
        left: 20px;top: 60px;
      }

      .icon_box .icon2 img{
        left: 20px;top: 20px;
      }

      .icon_box .icon3 img{left: 40px;top: 40px;width: 60%;}

      .icon_box .icon4 img{}

      .icon_box .icon5 img{}

      @keyframes ani{
        100%{transform:rotate(60deg);}
      }
      @keyframes ani01{
        100%{transform:rotate(360deg);}
      }
    /*디자인 모달창*/
.modal{
    position: fixed;
    left: 0;top: 0;
    width: 100%;height: 100vh;
    background:rgba(0,0,0,0.7);
    z-index: 999;
    overflow: auto;
}
.modal .modal_wrap{
    position: absolute;
    width: 1000px;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
}
.modal .modal_wrap h2{
    font-size: 30px;
    color: #fff;text-align: center;
    margin-bottom: 30px;
}
.modal .modal_wrap i.fa-plus{
    color: #fff;
    font-size: 50px;
    position: absolute;
    right: 0px;top: -10px;
    transform: rotate(45deg);
}
.modal .modal_wrap img{width: 100%;}

.modal3 .modal_wrap{
    top: 90%;
}

/*contact*/
.contact{
    width: 100%;
    height: 60vh;
    background: #000;
}
.contact article{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.con_wrap{
    position: absolute;
    top: 50%;left: 30%;
    width: 800px;
    transform:translate(-50%,-50%);
    color:#fff;
}
.contact article h2{
    font-size:65px;
    position: relative;
    top: -70px; left: 200px;
    text-transform: uppercase;
    
}
.contact article h3{
    font-size: 32px;
    position: relative;
    top: -20px;
}
.contact article p{
    font-size: 28px;
}
.contact article h2,h3,p{
    text-align: center;
    line-height: 65px;
}